/* projek web sederhana */

/* css reset */

* {
  margin: 0;
  padding: 0;
}

/* body */

body {
  height: 80000px;
}

/* header */

header {
  display: flex;
  background-color: #a1b8c4;
  justify-content: space-evenly;
  padding: 10px;
}

nav.nav-container {
  display: flex;
}

.nav-container li {
  list-style-type: none;
}

/* main */

main .hero-image {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1471644518115-1f02e9819854?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  max-width: 100%;
  max-width: 100vh;
}