/* projek web sederhana */

/* css reset */

* {
  margin: 0;
  padding: 0;
}

/* header */

header {
  display: flex;
  background-color: #a1b8c4;
  justify-content: space-evenly;
  padding: 10px;
}

nav.nav-container {
  display: flex;
}

.nav-container li {
  list-style-type: none;
}